@import './variables.sass';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@200;400;500;700;900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-color;
}

li {
  list-style: none;
}
ul {
  padding: 0;
}
a {
  text-decoration: none !important;
}


button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
